.user-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 150px;
}

.user-image {
  margin-left: 2em;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: rgb(131, 189, 255);
}

.review-data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
}

.username-rating {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding-top: .5rem;
  width: 10rem;

}

.username-rating p {
  margin: 0 0 .4rem 0;
}

.date {
  margin-left: auto;
  margin-right: 3rem;
  padding-top: .5rem;
}

.comment-body {
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.delete-review {
  color: brown;
  margin-right: .5em;
  font-size: .9em;
}

.edit-review {
   margin-right: .5em;
  font-size: .9em;
}

.review-images {
  padding-left: 1rem;
}

.review-config {
  padding-left: 1rem;
}

.edit-review-container input[type="text"] {
  border-radius: 10px;
}

.edit-review-button-group {
  display: flex;
  flex-direction: row;
}

.edit-review-button-group input[type="submit"] {
  margin-right: 1rem;
}