.main-content {
  margin-top: 6em;
}

/*** show banner ***/

.aspect-ratio-box {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 7em;
  overflow: hidden;
  padding-top: 591.44px / 1127.34px * 100%;
  background: black;
  position: relative;
}

.aspect-ratio-box-inside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flexbox-centering {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewport-sizing {
  font-size: 5vw;
}

/*** end show banner ***/
.config-button {
  color: darkgray;
  font-size: .5em;
}

.trail-title-show h1 {
  font-size: 2.5em;
}

.trail-attributes {
  background-color: #f8f5f2;
  padding: .75em .75em;
}

.attribute-line {
  margin-bottom: 4px;
}

.trail-attribute {
  margin-right: 1em;
}

.trail-info-left {
  padding-left: .75em;
}

